.profile {
  display: grid;
  grid-template-columns: 119px 326px 40px 1fr 150px;
  grid-template-areas:
    "pic name edit . add"
    "pic info info . add";
  justify-items: start;
  align-items: center;
  max-width: 880px;
  padding: 0;
  margin: 37px auto 47px;
  padding: 0;
}

@media screen and (max-width: 1000px) {
  .profile {
    padding: 37px 100px;
  } 
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    max-width: 320px;
    padding: 38px 38px 36px;
  }
}