.add-button {
  width: 146px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  transition: opacity 0.1s ease-in;
}

.add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .add-button {
    width: 278px;
    margin: 0 19px;
  }
}