.profile__caption {
  grid-column: 1/ span 2;
  margin: 16px 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .profile__caption {
    margin: 14px 0 0;
    font-size: 14px;
    text-align: center;
  }
}