.profile__caption {
  grid-area: info;
  max-width: 336px;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-self: start;
  margin: 0 0 0 32px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .profile__caption {
    font-size: 14px;
    text-align: center;
    max-width: 187px;
  }
}