.profile__caption {
  grid-column: 1/ span 2;
  margin: 0;
  padding: 0;
  max-width: 336px;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__caption {
    font-size: 14px;
    text-align: center;
  }
}