.popup__close-button {
  position: absolute;
  top: 155px;
  right: 385px;
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  background-image: url('../../../images/CloseButton.svg');
  object-fit: contain;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  transition: opacity 0.1s ease-in;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .popup__close-button {
    top: 80px;
    right: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .popup__close-button {
    top: 150px;
    right: 150px;
  }
}

@media screen and (max-width: 760px) {
  .popup__close-button {
    top: 87px;
    right: 19px;
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-height: 555px) {
  .popup__close-button {
    top: 40px;
    right: 19px;
  }
}