.popup__close-button {
  position: absolute;
  top: calc(100vh - 50% - 200px);
  right: calc(100vw - 50% - 252px);
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  background-image: url('../../../images/CloseButton.svg');
  object-fit: contain;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  transition: opacity 0.1s ease-in;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 555px) {
  .popup__close-button {
    right: calc(100vw - 50% - 140px);
    width: 20px;
    height: 20px;
  }
}