.profile__info {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .profile__info {
    margin-bottom: 36px;
  } 
}